<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.localseting">

    <application>
        <activity android:name="com.ess.localsetting.UserCommonSettingsActivity"></activity>
        <activity android:name="com.ess.localsetting.SystemParSettingActivity" />
        <activity android:name="com.ess.localsetting.BindingOrUnbundlingActivity" />
        <activity android:name="com.ess.localsetting.HomeDeviceSettingsActivity" />
        <activity android:name="com.ess.localsetting.DeviceInfiniteSettingsActivity" />
        <activity android:name="com.ess.localsetting.LocalSettingsToolActivity" />
    </application>

</manifest>